[access "refs/*"]
  read = group _deleted_group_dci-dev
  read = group dci-core
  owner = group dci-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group dci-core
    label-Code-Review = -1..+1 group _deleted_group_dci-dev
    label-Verified = -2..+2 group dci-ptl
    label-Workflow = -1..+1 group dci-core
    label-Workflow = -1..+0 group _deleted_group_dci-dev
    read = group _deleted_group_dci-dev
    read = group dci-core
    rebase = group _deleted_group_dci-dev
    rebase = group dci-core
    push = group dci-core
    submit = group dci-ptl
[access "refs/tags/*"]
	createSignedTag = group dci-core
	createTag = group dci-core
[access "refs/meta/config"]
    read = group _deleted_group_dci-dev
    read = group dci-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[project]
        description = A python client for DCI
